.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* 在 App.css 或 Login.css */
.login-button {
  background-color: #ACE6FB;
  color: white;
  border: none;
  padding: 13px 20px;
  border-radius: 15px; /* 圓角 */
  font-size: 23px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.273); /* 添加一些陰影 */
  transition: background-color 0.3s, transform 0.3s; /* 平滑過渡效果 */
  /* margin-top: 20px; */
}

.login-button:hover {
  background-color: #9bc8fb; /* 滑鼠懸浮時的顏色變暗 */
  transform: scale(1.05); /* 稍微放大 */
}

.login-button:active {
  background-color: #8fc3ff; /* 按下時的顏色更暗 */
}

.login-container {
  display: flex;
  flex-direction: column; /* 子元素垂直排列 */
  justify-content: center; /* 子元素在容器中垂直居中 */
  align-items: center; /* 子元素在容器中水平居中 */
  height: 100vh; /* 容器高度佔滿整個視窗高度 */
}

.login-prompt {
  color: #5e5e5e; /* 文字顏色 */
  /* margin-bottom: 50px; 與按鈕之間的間距 */
  text-align: center;
  font-size: 18px; /* 文字大小 */
  /* 您可以根據需要添加更多樣式 */
}